body {
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

.card {
  width: 385px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.card__image {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  /* display: block; */
}

.card__headline {
  font-family: "Lobster";
  font-size: 50px;
  margin: 10px auto;
}

.card__text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #283e50;
  color: white;
  padding: 25px;
  line-height: 1.5;
  text-align: center;
}

.card__buttons {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
}

.card__buttons--rules {
  background: #1fcca4;
  padding: 20px;
}

.card__buttons--rules:hover {
  background: #1cbb96;
}

.card__buttons--play {
  background: #0197f6;
  padding: 20px;
  border-top: solid 1px #283e50;
}

.card__buttons--play:hover {
  background: #0090e9;
}

.game__headline {
  font-family: "Lobster";
  font-size: 50px;
  color: white;
  margin: 10px auto;
}

/* styly pro hra.html */

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vmin;
  margin: 10px auto;
}

.game__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.game__menu--left {
  display: flex;
  align-items: center;
}

.game__menu--icon {
  padding-left: 0.4rem;
}

.game__menu--buttons {
  padding: 0.5rem;
  border-radius: 15%;
  cursor: pointer;
}

.button__home {
  background-color: #1fcca4;
}

.button__restart {
  background-color: #0090e9;
}

.game__board {
  display: flex;
  flex-wrap: wrap;
  border: #283e50 1px solid;
}

.game__board--square {
  flex-basis: 10%;
  aspect-ratio: 1 / 1;
  background-color: #bbb0d6;
  border: #283e50 1px solid;
  cursor: pointer;
}

.game__board--square:hover,
.game__board--square:focus {
  opacity: 0.7;
}

.game__board--circle {
  background-image: url(ikony/circle-black.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  animation: grow 0.3s forwards;
}

.game__board--cross {
  background-image: url(ikony/cross-black.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  animation: grow 0.3s forwards;
}

/* nastylování animace cross / circle */
@keyframes grow {
  from {
    background-size: 0;
    /* Začíná s nulovou velikostí */
  }

  to {
    background-size: 1;
    /* Končí plnou velikostí */
  }
}

button:disabled {
  cursor: auto
}
