body {
  background: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

.card {
  width: 385px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.card__image {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  /* display: block; */
}

.card__headline {
  font-family: "Lobster";
  font-size: 50px;
  margin: 10px auto;
}

.card__text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #283e50;
  color: white;
  padding: 25px;
  line-height: 1.5;
  text-align: center;
}

.card__buttons {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
}

.card__buttons--rules {
  background: #1fcca4;
  padding: 20px;
}

.card__buttons--rules:hover {
  background: #1cbb96;
}

.card__buttons--play {
  background: #0197f6;
  padding: 20px;
  border-top: solid 1px #283e50;
}

.card__buttons--play:hover {
  background: #0090e9;
}

.game__headline {
  font-family: "Lobster";
  font-size: 50px;
  color: white;
  margin: 10px auto;
}

/* styly pro hra.html */

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vmin;
  margin: 10px auto;
}
.game__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.game__menu--players {
  display: flex;
  flex-direction: row;
}

.game__menu--icons {
  display: flex;
  align-items: center;
}
.game__menu--buttons {
  padding: 10px;
  border-radius: 15%;
  cursor: pointer;
}

.button__home {
background-color: #1fcca4;
}

.button__restart {
  background-color:#0090e9;
}

.game__board {
  display: flex;
  flex-wrap: wrap;
  border: #39376d 0.5px solid;
}
.game__board--square {
flex-basis: 10%;
aspect-ratio: 1/1;
opacity: 0.5;
cursor: pointer;
}

.game__board--square:hover {
opacity: 0.65;
  }
